body {
    background-color: purple;
    padding-top: 60px;
}
p {
    font-size: large;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    animation: rainbow 7s linear infinite;
    
}

@keyframes rainbow {
    0% { background-color: red; }
    14% { background-color: orange; }
    28% { background-color: yellow; }
    42% { background-color: green; }
    57% { background-color: blue; }
    71% { background-color: indigo; }
    85% { background-color: violet; }
    100% { background-color: red; }
}